
	/*hanguk*/
	.p_hg01{padding: 80px 90px !important;}
	.p_hg02{padding: 80px 40px !important;}
	.p_hg03{padding: 25px 20px 20px 20px !important;}
	.p_hg04{padding: 20px 20px 20px 20px !important;}
	
	.bgc_blue01{background-color: #0044af;}
	.bgc_blue02{background-color: #00163b;}
	.bgc_white{background-color: white;}