@charset "utf-8";
/*reset*/
*{margin: 0; padding: 0; box-sizing: border-box;}
a:link, a:visited{text-decoration: none; color: #000;}
li{list-style: none;}
.clearfix:after{display: block; content: ""; clear: both;}
img{display: block;}