@charset "utf-8";

/*header*/
.hdtopmenu{float: left ;}
.hdtopmenu li{float: left ; color: #fff; line-height: 40px; width: 120px; margin-right: 2px; background-color: #00163b;}
.hdtopmenu li:hover{color: #6b6b6b; background-color: #fff;}

.hdtoputil{float: right; color: #fff;}
.hdtoputil li{float: left; font-size: 12px; line-height: 40px; padding-left: 10px; }
.hdtoputil .butten_minus{width: 16px; height: 16px; background-color: #fff; float: right; background-image: url(../images/button_minus.png);margin-top: 12px;margin-left: 10px;}
.hdtoputil .butten_plus{width: 16px; height: 16px; background-color: #fff; float: right; background-image: url(../images/button_plus.png);margin-top: 12px;margin-left: 2px; margin-right: 10px;}

.headerbottom .logo{padding: 35px 0; height: 120px; float: left;}
.headerbottom .logo div{width: 50px; height: 50px; background-image: url(../images/logo.jpg); float: left; margin-right: 20px;}
.headerbottom .logo h2{margin-top: -5px;color: #6b6b6b; }
.headerbottom .logo h2:after{width: 120px; height: 1px; background-color:#6b6b6b; content: ''; display: block; margin: 5px 70px;}
.headerbottom .logo p{font-size: 12.5px; color: #6b6b6b;}

.headerbottom .gnb{float: right; font-weight: 550;}
.headerbottom .gnb li{float: left; margin-right: 50px; color: #6b6b6b; line-height: 120px}

.headerbottom .menu_button{float: right; }
.headerbottom .menu_button li{width: 45px; height: 45px; float: left; margin-top: 37.5px;}
.headerbottom .menu_button .bgc_gray{background-image: url(../images/button_menu.png);}
.headerbottom .menu_button .button_login{background-image: url(../images/button_login.png);}

